
body, html {
    background:url('image/fondEcran.jpg');
    background-size:cover;
    margin:0;
	
}

#afpa{
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height:300px;
	background:url(image/banniere.jpg)no-repeat left;
	background-size : cover;

	
}
#navigation a {
	margin:0px;
	border: 10px outset ;
	border-radius: 5px;
	border-color: white;
	padding: 4px 30px; 
	font-weight: bold;
	text-decoration: none;
	color: yellow;
}

/* Styles pour les liens survolés ou sélectionnés au clavier*/
#navigation a:hover, #navigation a:focus {
	text-decoration: underline;
	color: red;

}
#presentation{
	
	
}
h1{
	margin-top:0;
	text-align:center;
	font-size: 3em;
	color:green;
}
p{
	color:white;
}